[2017-09-17 21:47] thatside opened #1 "Unable to launch slack-machine"
When I try to launch the app, an error comes in:
[code]

Are there some nuances related to Python versions compatibility?

[2017-09-17 21:53] thatside commented on #1
Sorry, seems there is another problem - this package is currently incompatible with Slack App-integrated bots.
Was too impatient to try the package :)
Closing the issue now.
Hope it will support Slack apps soon - AFAIK Slack team recommends this way.

[2017-09-17 21:53] #1 closed

[2017-09-18 07:40] DandyDev commented on #1
Hi! I want to support your use case, but I'm not sure exactly what you want/need.
How do "Slack App-integrated bots" differ from bots you register through https://my.slack.com/services/new/bot ?

[2017-09-18 07:58] thatside commented on #1
Hello!
As stated here: https://api.slack.com/bot-users: every workspace (team) could have custom integration among which bot users go. But bots which could be used by other teams (theoritically :)) should be attached to Slack app itself and then they could be used by all teams who have the app installed.
So you should create an app here first: https://api.slack.com/apps. And then you could registe

[2017-09-18 08:57] DandyDev commented on #1
Interesting concept. I had heard about Slack apps, and even installed a couple for my own teams. But I've not looked closely into how Slack apps work from the technical perspective.

This technically means that the bot should be able to handle multiple teams, right? This is currently not the case for Slack Machine. It uses Slack's own Python Slack client, which - as far as I can tell - assumes it

[2017-09-18 09:13] thatside commented on #1
I've checked slackclient package and it doesn't seems it could handle only one team at the given moment - neither it isn't said it could handle multiple teams. Should check this in future.

Nevertheless my initial problem was solved and I think it is more important to develop other features than add support of multi-team applications :)

[2017-09-18 09:26] DandyDev commented on #1
Agreed. Multi-team/App support are currently out of scope. I did find an example from Slack itself on how to build a Slack App in Python: https://github.com/slackapi/Slack-Python-Onboarding-Tutorial. But that example [doesn't seem to support multiple teams](https://github.com/slackapi/Slack-Python-Onboarding-Tutorial/issues/5).

If Slack Machine were to support being installed as a Slack App, it w

[2017-09-18 09:33] DandyDev commented on #1
Update: what's interesting, is that Hubot also doesn't support multiple teams as far as I can tell. And when you install the Hubot Slack App, it will give you an `xoxb` token:

![](https://dandydev.net/share/Screen-Shot-2017-09-18-11-31-09.png) (don't worry, the integration was removed, so the token is invalid)

So apparently, you can create Slack apps that do not use OAuth?

[2017-09-18 09:54] thatside commented on #1
I have created a separate bot user - first I have used the token from Slack App and it doesn't work but with separate bot token (from the link you have provided) everything worked perfectly.

Hubot seems to be a slightly different thing - it seems it only provides an adapter to generate a bot token in more convenient way.

At least it is needed to check if it is possible to use app bot tokens (and

[2017-09-18 12:21] thatside commented on #1
I am going to develop a simple bookmark-like app (to store useful links for channels like Hangouts app does) so I will definitely try it out soon :)

[2017-09-18 12:37] DandyDev commented on #1
Cool! If it works out for you with Slack Machine, we could try and make a plugin out of your bookmark app (if you want, of course)

[2017-10-18 18:19] SachinBhat opened #7 "Does slack-machine support or plans to support plugins that can be built for multiple teams?"
I was looking at building a bot that can be installed across multiple independent teams. The few changes that might be required then is how a plugin will identify and connect to different teams as well as support a webserver microservice. I dont think slack-machine is supporting the above at the moment but wanted to confirm if it is in the works?

[2017-10-20 15:39] DandyDev commented on #7
Slack Machine currently doesn't work with multiple teams. You'd have to run
a separate instance of Slack Machine per team.
I do want to implement this, but don't count on it very soon. Slack Machine
is currently still a one-man show, so time is sparse. Also, Slack Machine
is quite new, so I first want to gather feedback on how the current
iteration works and implement fixes based on that.

A webse

[2017-11-09 12:15] DandyDev commented on #7
I'm assuming this answers the question, so I'm closing this ticket. If you have any further questions on the subject, feel free to open the ticket again!

[2017-11-09 12:15] #7 closed

[2018-02-15 14:49] Tahvok opened #31 "Using slack-machine in code"
I would like to use slack-machine in code. Not by running slack-machine command.

I need to run the slack bot as a thread of a bigger application. I'm having a hard time finding a way to do this.

If it's already supported, please document it.

[2018-02-15 20:56] DandyDev commented on #31
It is supported. You can run the bot from code like this:

[code]

You should be able to do this in a separate thread. Using multiprocessing instead of threading is probably better though.

Does this help?

[2018-02-15 20:59] DandyDev commented on #31
One other remark: when instantiating Slack Machine like this, you can optionally provide a dict with settings (like `SLACK_API_TOKEN` etc.) If you don't, Slack Machine will try to find a `local_settings.py` module and try to import that.

[2018-02-18 15:35] Tahvok commented on #31
Thanks! That works.
I've been using the 'main' method, but now I use the run method directly as you said.

What I'm trying to achieve, is a rest api access to the bot. For example, a third party application that wants to send a message via the bot, will send a request to the bot, and the bot will send a message to slack.

[2018-02-18 15:49] DandyDev commented on #31
Glad it works for you! A couple of remarks:
- I'm planning to add an optional webserver to Slack Machine, that would allow you to expose routes so external applications can call your bot. That feature is mostly meant for callbacks in case you want to use Slack Buttons for instance, but it works for your case as well.
- It might be even easier for you, to just use [Slack Webhooks](https://api.slack

[2018-02-18 15:53] Tahvok commented on #31
The rest api is just additional feature I need in the bot. I still do need a fully featured framework, instead of using the slack webapi directly. Your framework just supports the most slack features I saw from all the frameworks I've checked, so I chose it. Just the api is what I'm missing.

I did work around it currently, by calling SlackClient directly from flask server, and I still have the bo

[2018-02-18 15:55] DandyDev commented on #31
Great! Glad you like it.
I will keep this issue open, so I can notify you once the webserver part has been built :)

[2018-02-26 22:57] DandyDev commented on #31
Update: I have created an initial webserver integration. It's based on [Bottle](https://bottlepy.org/docs/0.12/), because that's a nice light-weight framework. I've added a `@route` decorator to the `machine.plugins.decorators` package, that takes the same parameters as the Bottle `@route` decorator. You should use it on functions inside a `MachinePlugin` It will then automatically register the de

[2018-02-27 12:04] Tahvok opened #35 "feature request: slack commands"
It might be part of your plans already, but it's actually continuation of the previous request. After adding the build in webserver, it might be possible to support slash commands with this bot as well.
https://api.slack.com/slash-commands
Please consider adding it.

[2018-03-01 11:37] Tahvok commented on #31
Thanks a lot!
Can you add other decorators as well? Like @get @post @put and the others?

[2018-03-01 14:08] DandyDev commented on #31
You can provide any method to the `@route` decorator using the `method` parameter. Like so:

[code]

To be honest, I'd rather keep the API as simple as possible and not introduce too many decorators.

[2018-03-01 15:31] DandyDev commented on #35
I think it would be great to support this in the future. But in order to do this, Slack Machine must become a [Slack app](https://api.slack.com/slack-apps). Currently, Slack Machine is used as a [Bot User](https://api.slack.com/custom-integrations/bot-users), which is a legacy Custom Integration.

I want to convert Slack Machine to work as a proper Slack App, but I first want the core of Slack Mac

[2018-03-02 08:34] DandyDev commented on #35
You can use dialogs and buttons without slash commands. Then the only advantage of slash commands would be discoverability.

[2018-03-14 14:40] vanadisv opened #40 "Reacting to Bots and Apps"
The slack-machine bot doesn't seem to react to apps and/or bots currently.

How could I trigger the bot with bot/app generated messages?

[2018-03-14 14:54] DandyDev commented on #40
Can you give an example of your setup that has messages that slack-machine doesn't react to? That way, I can try to reproduce.

[2018-03-14 15:15] vanadisv commented on #40
Hello @DandyDev, thanks for your reply!

I tried this with a simple IFTTT workflow that basically posts the content of received emails in a Slack channel.

If I setup slack-machine to listen_to/respond_to certain keywords (say, "hello"), slack-machine will react if I posted that message directly into the channel.

However, slack-machine doesn't react if IFTTT posted the content of an email contain

[2018-03-14 16:00] DandyDev commented on #40
Thanks for the clarification, that should be something I can replicate. I will look into it!

[2018-05-23 10:35] Tahvok opened #54 "Connection is closing every few days"
Every other day, slack bot is losing it's connection from some reason:
[code]

Not sure what is going on, but can the slack bot try to reconnect to slack if that happens. Or perhaps there should be some other approach?

[2018-05-23 11:11] DandyDev commented on #54
Thanks for reporting this! I think some reconnection logic is on order here. I will think about it a bit. In the meanwhile, as a workaround, as long as you use some persistent storage, you could restart Slack Machine yourself every day or so.

[2018-06-24 07:47] cabrinha opened #63 "feature request: extend redis backend"
Let's extend the redis backend to support more actions like:

* https://redis.io/commands/scan
* https://redis.io/commands/hkeys
* https://redis.io/commands/keys

This would be in order to scan or get all keys for a given plugin and iterate over them.

I'm trying to create a "Karma" plugin and I'd like to show the top Karma scores:

[code]

in `machine/storage/backends/redis.py`:

[code]

Somethin

[2018-06-24 09:15] DandyDev commented on #63
Great idea! I'll have to think a bit on it, but I'll get back to you on this!

[2018-06-24 09:21] DandyDev commented on #31
I guess this works now @Tahvok, so I'm closing the issue.

[2018-06-24 09:21] #31 closed

[2018-06-24 11:29] Tahvok commented on #54
We have wrote this service to workaround the issue:
[code]

[2018-06-24 11:36] Tahvok commented on #35
How can I use buttons? Could you give an example? The only way I found is if the bot was a slack app.

[2018-06-24 16:57] DandyDev commented on #54
Great! I have been running a bot for my team for the past 3 months, and I haven't had any disconnects happen. I'm running it inside Docker.

[2018-06-24 16:59] DandyDev commented on #35
That is indeed the only way. To be honest, I haven't tested Slack Machine with a Slack App token instead of a custom bot token.

If Slack Machine does work as a Slack App, using buttons should be relatively straight forward. You can use Slack Machine's built-in webserver to receive the call-backs that are required for buttons to function.

[2018-06-25 01:09] internaught commented on #63
I'm adding the following right underneath http://slack-machine.readthedocs.io/en/latest/_modules/machine/storage.html#PluginStorage.get:

[code]
But, I'm still getting the error: `AttributeError: 'PluginStorage' object has no attribute 'keys'`.

Is there something else I'm missing?

[2018-06-25 23:51] internaught commented on #63
Update: pretty sure im getting the hang of extending this module: https://github.com/internaught/slack-machine/commit/274e97f47e20388b701ad2e7ce7f546a7201d04e

I got my karma implementation working, added the scan_iter function to the redis backend and created some new Slack Web API calls.

How can I get these contributions back into slack-machine?

[2018-08-14 01:18] preludedrew commented on #54
I was able to confirm this issue over the weekend. I was seeing disconnects at almost eactly 24 hours each time, but today the disconnect was at the 8hr mark. The bot is running idle mostly while I've been working on other projects, so I'm guessing there's some sort of idle disconnect on the RTM end. Although the RTM protocol doesn't say it's required, maybe adding a Ping/pong would alleviate the

[2018-08-14 01:47] preludedrew commented on #54
So I looked at the python slackbot, to see how it handled it, and it's very simple. Below is an untested diff is someone would like to test/validate it. If not, I will get some testing done when I can and open a pull request. If you think this would be better added to the scheduler, let me know.

[code]

[2018-08-14 11:16] DandyDev commented on #54
I think you added it to the right place. Is there a reason why you use the thread from `six`? Slack Machine doesn't support Python 2.x, so you could just use built-in threading right?

I must add btw, that I'm still not seeing this problem. I've been running a Slack Machine instance for a couple of months now, with little to no activity sometimes, and I never experienced a disconnect.

Maybe we sh

[2018-08-15 05:13] preludedrew commented on #54
@DandyDev This was almost literally a copy pasta from slackbot, so no there is no particular reason to use thread from six. Let me throw this (and the module change) in and test. If this alleviates the issue, I'll throw a pull request together with this and your suggestion on the setting.

I'm curious why you're unable to replicate. I'm working with a trial of slack (our company is looking to purc

[2018-08-15 18:04] DandyDev commented on #54
I've been running Slack Machine at the company I work for, where it gets plenty of activity indeed. But I've also deployed Slack Machine in a Slack team with friends that hardly gets any activity at all, and I'm pretty sure I've told nobody there that I've added a bot.
It might indeed be that listening to channel activity is enough for it.

Anyways, I'm totally willing to merge a PR for this, as l

[2018-08-16 07:58] DandyDev commented on #54
I'd love some more collaboration on Slack Machine, so any ideas are welcome.

In the meanwhile, I'll have a look at the PR

[2018-09-03 20:51] DandyDev commented on #54
@Tahvok I cut a new version with a `KEEP_ALIVE` setting, based on the work of @preludedrew. Can you test if it works for you (if you're still using Slack Machine)? I will leave this issue open for a week or so. If I don't hear anything by then, I'm gonna assume the issue is resolved :)

[2018-11-04 23:36] seerickcode opened #107 "Feature: Alias"
I would be interested in having an 'alias' feature so that instead of @botname, just a symbol could be used.

I am looking at porting my plugin from lins05/slackbot and this is a feature I currently use to give a slash command like effect so users don't need to `@botname` every time.

I already coded it up, tested, and working in my fork (alias branch), but figured I would check if this is somethi

[2018-11-06 20:20] DandyDev commented on #107
Sounds like a good idea. I'd be glad to see a PR for that!

[2018-11-11 15:13] seerickcode commented on #107
Closing my feature request as PR has been merged.  Thanks !

[2018-11-11 15:13] #107 closed

[2018-12-30 08:40] smoothimpact opened #125 "Altering RESPOND_MATCHER to match multiline messages."
Just noticed that the RESPOND_MATCHER in dispatch.py doesn't match messages such as:

[code]

Adding re.DOTALL to RESPOND_MATCHER looks like it addresses this (and hopefully doesn't cause any other side effects).

[2019-01-03 22:13] kb18951452 commented on #40
Is this still an issue?

[2019-02-11 21:31] dorel14 opened #143 "Need help listing users"
Hello , i need to list all users of my slack team , how can i do that ?
thx

[2019-02-14 19:13] dorel14 opened #145 "Feature request extend storage to sqlite or postgres db"
Hello
I'd like to extend storage so that i can use postgres db aon sqlite db , Can you help me in making this ?

Thx

[2019-02-15 17:50] dorel14 commented on #145
Made it myself on sqlite
bye

[2019-02-15 19:54] dorel14 opened #146 "Issue : little pb slack machine repeat himself"
Hello
my slack-machine is installed on a raspberry machine in a virtual env
i have this plugin which is very simple
`rom machine.plugins.base import MachineBasePlugin
from machine.plugins.decorators import listen_to
import re

class aide(MachineBasePlugin):
    @listen_to(r"help?")
    @listen_to(r"aide")
    @listen_to(r"au secours")
    def helpFunc(self, msg):
        msg.reply(
            "Po

[2019-02-15 20:04] DandyDev commented on #145
Eeeeh, why don't you share your code by opening a pull request? So other people can enjoy it as well...

[2019-02-15 20:17] seerickcode commented on #146
Perhaps the one of the default plugins machine.plugins.builtin.help.HelpPlugin is running ?

See https://slack-machine.readthedocs.io/en/latest/user/usage.html#configuring-slack-machine and the PLUGINS array.

Though, I think that plugin would only responds to `help` not `help?`

Are the two answers the same ?  (your msg.reply message above ?)

[2019-02-15 23:05] dorel14 commented on #145
when finished and tested , i will share my plugin to connect to sqlite or postgres

[2019-02-15 23:12] dorel14 commented on #146
Yes , the two aswers are the same  and Helplugin is not activated
This pb is the same for all my plugins and only on debian ,  i try same plugins on a windows install and it's ok

[2019-02-16 17:20] dorel14 commented on #146
hello , today i'v tried to make the help plugin work , fail
can you give an example of a help text in a plugin
thx

[2019-02-17 18:51] dorel14 commented on #146
Hello , the problem is solved
I've started 2 instances of slack machine (1 on windows and the other one on linux )
Your app works perfect

[2019-02-17 18:51] #146 closed

[2019-02-17 18:52] dorel14 opened #148 "Help Needed"
hello ,
Today i've tried to make the help plugin work ,
Can you give an example of a help text in a plugin and how to activate everything .

Thx

[2019-02-18 20:58] dorel14 opened #150 "FR : Log in a file"
Hello
I will set  up  slack-machine for testing at work , is it possible to setup log in a file ?
Thx

[2019-03-05 21:15] dorel14 commented on #150
It's ok for me here's my bash script to run slack-machine on debian and have a log file
`#!/bin/bash
# run this as the rhodecode user!

WDIR=/home/pi/projets/supportBot/mybot
VIRTUALENV_DIR=/home/pi/projets/supportBot

source $VIRTUALENV_DIR/bin/activate

cd $WDIR

slack-machine 1> /var/log/supportBot/debug.log 2> /var/log/supportBot/error.log &
pgrep slack-machine > /var/run/slackmachine.pid`

[2019-03-05 21:15] #150 closed

[2019-03-05 21:19] dorel14 commented on #143
I've started like this

`from machine.plugins.base import MachineBasePlugin
from machine.plugins.decorators import respond_to

class listusers(MachineBasePlugin):
    @respond_to(r"^liste users")
    def list(self, msg):
        utilisateurs = listusers.users()
        print(utilisateurs)`

and i have this result
`[2019-03-05 22:18:08][ERROR] machine.utils.pool pool.py:run:24 | An error occurred w

[2019-03-05 21:21] dorel14 commented on #148
Ok for me here is an example

`def ajoutAstreinte(self, msg):
        """ajoutAstreinte: ajout astreinte + le nom de la personne ; date + la date du lundi de la semaine"""
        textMessage = msg.text`

[2019-03-05 21:21] #148 closed

[2019-03-05 21:32] seerickcode commented on #143
TypeError: 'property' object is not callable
try instead...
`utilisateurs = listusers.users`

[2019-03-05 21:49] dorel14 commented on #145
Hello , i don't know how send a pull request , here's my code to add postgres db to my plugins
I added peewee ,  psycopg2 , configparser because i haven't succeeded in using your settings system

 pip install peewee
 pip install psycopg2
pip install configparser

[config.txt](https://github.com/DandyDev/slack-machine/files/2933254/config.txt)
here is my an example of a model.py to initialise some

[2019-03-05 21:53] dorel14 commented on #143
here is the result

<property object at 0x75e52e70>

[2019-03-05 23:07] seerickcode commented on #143
Sorry, missed another issue with your code - you're calling against the class, not the instance of the class.  Not a slack-machine issue, just a python use issue.

Try:
[code]

[2019-03-06 18:48] DandyDev commented on #143
What @seerickcode says is completely correct

[2019-03-07 20:40] dorel14 commented on #143
Hi
Perfect thx
I'm new to python and discover it day by day

[2019-03-07 20:40] #143 closed

[2019-03-12 20:39] dorel14 opened #157 "Error since update"
Hello
I've updated slack machine to latest release and i have this error after launching a scheduled message
[code]
`

[2019-03-13 13:51] DandyDev commented on #157
I'm sorry to hear that. I suggest you roll back to the previous version for now. Then I will check what goes wrong.

[2019-03-21 18:51] dorel14 opened #161 "FR : Capture text snippets"
Hello
i'have tested this code
`from machine.plugins.base import MachineBasePlugin
from machine.plugins.decorators import process

class testevents(MachineBasePlugin):
    @process("file_created")
    def testFileUploadDetection(self, event):
        self.say('ok')`

and nothing happen when added a file to my slack team

[2019-03-28 21:57] dorel14 opened #166 "Bugs ? on self.send_dm_webapi"
Hello
here a piece of code for one of my plugin

`    @schedule(hour='22', minute='49')
    def humeurJour(self):
        """humeurJour : demande l'humeur du jour sur le canal meteo"""
        for u in session.query(users).order_by(users.id):
            print(u.name)
            self.send_dm_webapi(u.userID,
                                'Salut , ' + u.name +
                                ' ,

[2019-04-04 22:01] preludedrew commented on #54
Our company finally decided to go with slack, so I'll be working on this a lot more and can validate this issue has been resolved. I'll comment in a week or so and maybe this can get closed. Thanks @DandyDev

[2019-04-05 15:10] preludedrew commented on #157
I've been running into this too. No pattern that I could see. Sometimes it would happen after 8m of connectivity, sometimes it was 50m... It seemed to be a race between the rtm_read() and the task/event thread. Moving the time.sleep to 1 second instead of a 10/th of a second has so far proven to work. I don't see any reason why 1 second would interfere with any timing, and .1 seemed a little arbit

[2019-04-05 18:58] DandyDev commented on #54
That is awsesome @preludedrew! The procurement department of the company I work for is actually also drawing up contracts with Slack, so hopefully we'll get paid Slack soon, at which time I will be more actively working on slack-machine again.

Any help now and then is much appreciated!

[2019-04-08 17:32] preludedrew commented on #157
Ran that over the weekend and it definitely helped, but I found ~3-4 instances per day.

[2019-04-11 22:44] preludedrew commented on #54
Been a week and I have yet to see this issue crop up. Makes sense to close to me :)

[2019-04-23 00:24] seerickcode commented on #125
Issue hit me today as well.   No amount of regex changing in the respond_to will work if the text isn't even getting to you.

[2019-04-23 17:55] dorel14 commented on #161
Hello
I've made it work  , but i needed to import slack client , which is not optimal
here is the code of my plugins , can you help me doing everythong with slack machine ?

`class testevents(MachineBasePlugin):
    @process("file_shared")
    def testFileUploadDetection(self, event):
        token = self.settings['SLACK_API_TOKEN']
        sc = SlackClient(token)
        snippet_id = event['file_

[2019-04-23 21:38] #125 closed

[2019-04-24 05:37] seerickcode commented on #161
You will only ever get the 'preview' from the files.info.
The full 'preview' contents are actually sent via a 'Message" event that looks like this.
The distinguishing factor is that it will have a files list in the event.

[code]

So you could have a generic watch on `message` types, query for files inside, and pull the preview from there, but the preview will be just that, a small preview.   If y

[2019-04-24 15:10] dorel14 commented on #161
Hi
Thx for your answer , it helps me a lot
Here is the final code for the moment , i wiil plug it later with a sms alerting system

`class testevents(MachineBasePlugin):
    @listen_to(r"alerte")
    def testAlertmsg(self, msg):
        testFile = msg._msg_event.get('files', None)
        if testFile is not None:
            for f in msg._msg_event['files']:
                if f['mode'] == "snippe

[2019-04-24 15:10] #161 closed

[2019-04-25 09:45] botzill opened #180 "Interactive Buttons"
So, this feature is not yet supported? Any updates on this?

[2019-05-03 17:36] dorel14 opened #183 "Infos ? Use of init() function"
Hello
I want to control everything is ok in my ini files before starting my plugins can i use this ?

[2019-05-03 21:40] DandyDev commented on #183
The init function is indeed run before anything else, so you can use it to setup plugins.

[2019-05-03 21:40] #183 closed

[2019-05-22 00:37] preludedrew opened #191 "Bot can respond to self using {say,reply}_webapi"
@DandyDev i have a listen_to function that listens for jira ticket mentions via regex in any message, and responds via `say_webapi()`. The problem im facing right now, is using `*_webapi()`, allows the bot to respond to itself, and in the case of `say_webapi()`, it's infinite. I have a quick fix for this, curious what your thoughts are. I'll upload a patch or at least a diff when I can, but in the

[2019-05-28 21:24] dorel14 commented on #183
Hello , can you provide me some help how to use it ?
Thx

[2019-06-04 19:02] dorel14 opened #201 "Help on init()"
Hello , can you provide me some help how to use it ?
Thx

[2019-06-04 19:40] seerickcode commented on #201
It's just a method you add to your plugin class that is called at plugin load time by slack-machine.
Run whatever code you want your plugin to do once, at start.

eg.. I use it sometime to get a database connection for the plugin going.
(hypothetical example)
[code]

[2019-06-04 19:51] DandyDev commented on #201
Exactly! To be fair, it it explains [right there in the documentation](https://slack-machine.readthedocs.io/en/latest/api.html#machine.plugins.base.MachineBasePlugin.init)

[2019-06-04 19:51] #201 closed

[2019-06-04 21:05] dorel14 commented on #201
THx  a lot

[2019-06-14 14:18] wietze commented on #40
I believe this might be related to how users are looked up ([machine/slack.py L17-L19](https://github.com/DandyDev/slack-machine/blob/master/machine/slack.py#L17-L19)) e.g. when using `.reply()`. If the sending user is a bot, it might not appear in `self.users`.

[2019-07-08 02:39] hyowoo opened #214 "listen to only message"
thx for greate machine.
i really appreciate.
but i have one issue.

ex)
///
@listen_to('')
def to_duty(message):
    print(message)
....

i want only listen_to NEW MESSAGE, NOT THREAD.
how can i solve this problem?

[2019-08-12 07:04] dorel14 opened #228 "Error on querying slack api"
Hello
I've launch my slack machine in real prodcution and i have this error message when trying to load users informations

`Traceback (most recent call last):
  File "/home/supportbot/bot/bin/slack-machine", line 10, in <module>
    sys.exit(main())
  File "/home/supportbot/bot/lib/python3.6/site-packages/machine/bin/run.py", line 14, in main
    bot.run()
  File "/home/supportbot/bot/lib/python3

[2019-08-19 15:19] dorel14 commented on #54
Hello
I'm facing disconnection problem, i've set up KEEP_ALIVE = 14400
as we can see , we have a client Ping and a client pong  and 5 mns later we see RTM disconnected.

`[2019-08-19 16:38:26][DEBUG] machine.core core.py:_keepalive:185 | Client Ping!
[2019-08-19 16:38:26][DEBUG] machine.dispatch dispatch.py:handle_event:52 | Server Pong!
[2019-08-19 16:43:17][DEBUG] root server.py:websocket_safe_r

[2019-10-07 15:18] dorel14 commented on #228
Same as  #54

[2019-10-07 15:18] #228 closed

[2019-10-29 13:48] dorel14 opened #254 "INFOS ? same task 2 schedules"
Hello
Can i schedule twice the same task.
example :
@schedule(hour='21', minute='31')
@schedule(hour='12', minute='31')
    def humeurJour(self):
......
Thx

[2019-12-03 21:06] dorel14 commented on #254
Hello , i've tried what i wanted and it doesn't work , it seem like apscheduler can do this with this code
`from apscheduler.triggers.cron import CronTrigger
from apscheduler.triggers.combining import OrTrigger

cron1 = CronTrigger(day_of_week='mon-fri', hour='8', minute='30,45', timezone='America/Chicago')
cron2 = CronTrigger(day_of_week='mon-fri', hour='9-15', minute='*/15', timezone='America/Ch

[2019-12-04 12:25] enver opened #273 "Error "can't pickle module objects" using redis storage and schedule"
I've created new project and scheduled couple of actions. Using memory storage everything works as expected, however when I switch to redis bot can't start due to:
[code]

[2019-12-05 22:31] DandyDev commented on #273
I'm sorry to hear you're having problems. But without seeing some code of your plugin(s), it's hard to see what's going wrong. Can you share the code of the scheduled actions?

[2019-12-10 15:00] dorel14 opened #276 "Bug on send_dm"
hello
On send_dm , i'have this error
'Traceback (most recent call last):
  File "/home/devsupportbot/bot/lib/python3.6/site-packages/apscheduler/executors/base.py", line 125, in run_job
    retval = job.func(*job.args, **job.kwargs)
  File "/home/devsupportbot/bot/mybot/plugins/meteo.py", line 38, in humeurJour
    Réagis en cliquant sur une icône''')
  File "/home/devsupportbot/bot/lib/python3.6/

[2019-12-10 15:32] dorel14 commented on #54
hello
i've set up the KEEP ALIVE parameter and it's always the same
`
[2019-12-10 10:20:05][DEBUG] machine.core core.py:_keepalive:185 | Client Ping!
[2019-12-10 10:20:05][DEBUG] machine.dispatch dispatch.py:handle_event:52 | Server Pong!
127.0.0.1 - - [10/Dec/2019 10:21:58] "GET /meteo HTTP/1.1" 200 0
[2019-12-10 10:25:03][DEBUG] root server.py:websocket_safe_read:290 | RTM disconnected
Traceback

[2019-12-11 15:16] dorel14 commented on #276
auto solve icoming from my test slack instance not having all users of prod.
I close

[2019-12-11 15:16] #276 closed

[2019-12-11 15:17] dorel14 commented on #166
Idem
auto solve icoming from my test slack instance not having all users of prod.
I close

[2019-12-11 15:17] #166 closed

[2019-12-20 15:07] enver opened #281 "Default response"
Is there a way to specify default response when no `respond_to` regexes matches message?

[2020-01-02 11:02] davidolrik opened #285 "Feature request: Official way of creating external plugins"
I have created a few plugins I would like to distribute seperately on PyPI.

For now I have created them in a new top-level namespace like `slack_machine_plugin_<name>`, but this seems inelegant, and the doc-strings are not picked up for the help command.

Thoughts?

[2020-01-02 11:40] DandyDev commented on #285
I'm wondering why the doc-strings aren't picked up by the help command. I always assumed that external plugins distributed via PyPI would work out of the box.
I will do some research this week to see how to get it to work and get back to you on this issue.

[2020-01-02 13:11] davidolrik commented on #214
You can't do it via the api, but you can look for `thread_ts` in the internal message event object like so:

[code]

I have created a pull request #286 with this feature.

[2020-01-02 13:15] davidolrik commented on #285
Excellent - I tried to create a namespaced package in `machine.plugins.external.<name>`, but failed as I couldn't get it to load the module from within that package.

[2020-01-05 15:15] DandyDev commented on #285
Update: Yesterday, I pushed a major update for Slack Machine. Sadly, it's not fully backwards compatible. I had to update quite some of the inner workings of Slack Machine because the underlying slack client library I'm using also had some big breaking changes.

I also took some time to create an example plugin to show people how it's done. You can find the repo here: https://github.com/DandyDev/s

[2020-01-06 18:02] DandyDev commented on #191
This has been fixed now.

[2020-01-06 18:02] #191 closed

[2020-01-07 13:51] davidolrik commented on #273
I too, have this problem, and I can recreate it with almost an empty plugin and Redis selected as storage backend.

[code]

When starting slack-machine, it errors out with this error:

[code]

[2020-01-07 14:03] davidolrik commented on #285
I see you also use a different top level name space for your plugin and plugins for other python projects also live out side the name space of the main project - guess it's just the Python way of doing things.

[2020-01-07 14:03] #285 closed

[2020-01-12 17:12] smoothimpact opened #290 "self.web_client.channels_list"
Hi there,

Great to see the move towards slackclient v2 - thanks for all the work on the new version.

After debugging a KeyError relating to my tests with the new version (in which I was testing in a DM and a private channel) it seems the use of `self.web_client.channels_list` in `machine/clients/singletons/slack.py` may be causing it, due to it not including the same level of conversation covera

[2020-01-13 21:13] dorel14 opened #292 "Bug with bottle"
Hello
To make slack machine configurable , i've made a web backoffice  , i"ve updated my developpement environnemnt to your latest version and nothing is working anymore on this backoffice, here an example of my plugin join

`from machine.plugins.base import MachineBasePlugin
import bottle

class html(MachineBasePlugin):
    @bottle.route('/')
    def index():
        heure = datetime.datetime.now

[2020-01-14 21:17] dorel14 commented on #292
For informations , i went back to 0.18.0 and it's now ok with my bottle functions

[2020-01-14 21:28] DandyDev commented on #292
I'm curious what would happen if you upgrade to 0.18.1 or 0.18.2. Could you test? That way, I can pinpoint exactly where the bugs are introduced.

[2020-01-15 11:37] dorel14 commented on #292
Ok , il try and come back

[2020-01-15 14:46] dorel14 opened #293 "Information ? Scheduling and Listen_to"
Hello
For the same fonction , i'd like to schedule thsi function and also have the possibility to force this function with a listen_to command

'class synchroAgenda(MachineBasePlugin):
    """Classe de gestion d'imports des evenements du calendrier support dans la
     base de donnée pour affichage dans grafana"""
    @listen_to(r"synchro agenda")
    @schedule(hour='21', minute='05')'

When i try

[2020-01-15 15:01] dorel14 commented on #293
Auto find solution
class synchroAgenda(MachineBasePlugin):
    """Classe de gestion d'imports des evenements du calendrier support dans la
     base de donnée pour affichage dans grafana"""
    @listen_to(r"synchro agenda")
    @schedule(hour='21', minute='05')
    def sync_agenda(self, *kwargs):

[2020-01-15 15:01] #293 closed

[2020-01-18 15:04] dorel14 commented on #292
So , i've tried with
0.18.1 => OK
0.18.2 => Broken , i get a 404 not found
i've seen a fix in bottle import in your code so tried to import just like you
`from machine.vendor import bottle`

in all my files needing import bottle and now  it's ok

[2020-01-19 20:11] DandyDev commented on #292
Ah, I understand now. The error  you encountered is because I removed Bottle as external dependency and included the Bottle source code in Slack Machine itself. This is because I had to fix a bug in Bottle that wasn't fixed in the original package.

Glad you got it working again.

[2020-01-19 20:11] #292 closed

[2020-02-27 05:21] thosieucoi opened #308 "Error slack.rtm.client client.py:_dispatch_event"
@DandyDev  I got the error in 0.19.x version

`[ERROR] slack.rtm.client client.py:_dispatch_event:445 | When calling '#handle_message()' in the 'machine.dispatch' module the following error was raised: 'DU6G9SQBC'`

Would you please help me check this? It worked fine on 0.18.2 version

[2020-02-27 10:06] dorel14 commented on #54
Perhaps this issue can be closed , my slack machine is working well in production for 2 weeks as i update to latest version

[2020-02-28 22:29] DandyDev commented on #54
Good to hear it's running smoothly for you now!

[2020-02-28 22:29] #54 closed

[2020-03-03 21:48] dorel14 commented on #308
Hi same for me when i try to @respond_to in a private channel. If i try to execute same function not in a private channel everything went ok

[2020-03-03 21:55] dorel14 opened #310 "QUestion about blocks and buttons"
Hello
If i send a message with block containing buttons and selections , how can i have the return of this button that was cliicked or the selection that as made ?

[2020-03-17 13:20] dorel14 opened #316 "Bug ? Problem with reaction adding"
Hello
I have a new problem on running this code
I doesn't appear until yesterday
It stops the bot and restart a few seconds later
Can you help me ?

Code :
[code]
log :
`[2020-03-17 14:00:43][ERROR] apscheduler.executors.default base.py:run_job:131 | Job "suiviMeteo.humeurJour (trigger: cron[day_of_week='mon-fri', hour='14', minute='0'], next run at: 2020-03
-18 14:00:00 CET)" raised an exception

[2020-03-25 16:26] davidolrik commented on #35
Source: https://api.slack.com/changelog/2020-02-legacy-test-token-creation-to-retire

[2020-03-25 23:06] davidolrik commented on #273
I think I have found the issue causing the error above!

In my `local_settings.py` I was loading my config from a yaml file using `pyyaml`, and simply importing `yaml` in `local_settings.py` is enough to trigger this [bug](https://github.com/yaml/pyyaml/issues/36).

@enver Are you by any chance using `pyyaml` in your `local_settings.py` as well?

[2020-03-25 23:08] davidolrik commented on #273
I think I have found the reason for the error above.

I'm importing `yaml` into `local_settings.py` and this isn't allowed as this will make `local_settings.py` unpicleable.

@enver Are you by any chance importing stuff in `local_settings.py`?

[2020-03-26 15:37] dorel14 opened #319 "Help needed , Scheduling from db"
Hello
I'd like to store my scheduled job in db so tht everyone with rights could schedule without coding
fot tht i've created some tables with all job detail (hour to trigger the job ,function to exceute ...)
Now i'd like slack-machine to go trough my db tables and create a schedule for each task on startup or when it heards somethin like 'schedule tasks '
How can i do tht ?
Do i have to make it w

[2020-03-29 13:57] fmb-chin commented on #54
Hello @dorel14
Could you please tell me which version you use to get rid of this issue? Thank you.

[2020-03-29 15:06] dorel14 commented on #54
@fmb-chin
Hello , the latest v0.19.2 is ok for me.
Working now since 2 months without anymore disconnection
ATke care if you use bottle as i've had in #292

[2020-03-29 19:49] davidolrik opened #320 "Feature idea: Use Dynaconf for loading configuration"
Today Slack Machine uses a plain python file for its config, which I find less than [ideal](https://12factor.net/config).

I would like to put my bot in git, but I don't want to commit any secrets into git.

To solve this I tried to do a simple import of the `yaml` module in `local_settings.py`, and load my secrets from there, but this won't work when using Redis as storage backend.

The reason it

[2020-03-29 20:58] DandyDev commented on #320
I'm not 100% convinced to be honest. I strongly believe in the 12-factor app guidelines, which is why you [can configure Slack Machine using environment variables](https://slack-machine.readthedocs.io/en/latest/user/usage.html#using-environment-variables-for-configuration). This allows you to keep secrets out the `local_settings.py`. The reason why I still like the idea of configuration inside a P

[2020-03-29 21:46] davidolrik commented on #320
Dynaconf has support for multiple formats, so we could do python config called `local_settings.py` and keep everything working as it is now - even though I don't like config in code.

Dynaconf can also be configured via environment variables, but also via a ton of other different ways - e.g. Vault for secrets, `.env`, `.secrets` etc.

The feature I like the most about Dynaconf, is different enviro

[2020-03-29 22:07] davidolrik opened #323 "msg.say() in DM throws error"
After upgrading to 0.19.2 I had to change `say_webapi()` to `say()` which unfortunately seems to have broken replies in DMs.

[code]

[2020-03-29 22:15] DandyDev commented on #323
I've had a colleague of mine report a similar error. I don't know exactly what is happening here yet, but I can give you some context.
As part of the upgrade of the underlying `slackclient` library to > 2.0, I lost the ability to lookup channels and users. The newer versions of `slackclient` don't keep records of users and channels anymore, because the RTM method to fetch all users and channels up

[2020-03-29 22:26] DandyDev commented on #320
I will look into it this week and get back to you about this.

[2020-03-30 00:44] fmb-chin commented on #54
@dorel14 Thank you.

I upgraded to v0.19.2 before, but I found message react is broken in v0.19.2 and return to v0.18.2.
I will try v0.19.2 again.

[2020-03-30 09:29] dorel14 commented on #323
Hello
Perhaps it's linked with #308 in which i've seen error when respond_to in private channels

[2020-03-30 09:30] dorel14 commented on #54
Hi,
message react os not broken , but sometimes it runs in a timeout , don't know why

[2020-04-03 16:46] enver commented on #273
@davidolrik Yes, I do. Thanks for the hint, I'll try it out.

[2020-04-16 16:58] yaelbikel commented on #157
any update on this one? I'm getting this error one in a while
`Traceback (most recent call last):
  File "/home/slackbot.runfiles/armis/deploy/services/slackbot/slack_machine_service.py", line 40, in <module>
    main()
  File "/home/slackbot.runfiles/armis/deploy/services/slackbot/slack_machine_service.py", line 36, in main
    machine.bin.run.main()
  File "/home/slackbot.runfiles/pip__slack_mac

[2020-04-21 13:49] dorel14 opened #332 "Help needed ? like to use machine function outside a plugin"
Hi
I'll like to create a generic function to say soehing to slack
here is a piece of code
`# -*- coding: UTF-8 -*-
from plugins.helpers.gmail import Gmail
from machine.plugins.base import MachineBasePlugin

def mailToSlack(channel,
                labelsToSearch=[],
                labelsToRemove=[],
                labelsToAdd=[]):
    gm = Gmail()
    mb = MachineBasePlugin()
    reponse = gm.re

[2020-04-21 14:41] seerickcode commented on #332
_Don't fight it - make a plugin._
The whole point of SM is to be a bot framework that reacts to user input or some other triggers.  This is done by creating plugins.

If you just need your program to send output to slack, just use [python-slackclient](https://github.com/slackapi/python-slackclient) instead of a bot.

MachineBasePlugin doesn't work in isolation, it's a base class for Plugins, and t

[2020-04-21 16:50] DandyDev commented on #332
@seerickcode has the right of it. You're trying to use Slack Machine in a way that it is not supported, nor is it _meant_ to be used like this.

And @dorel14, if I can make a suggestion, please use
[code]
for formatting your code examples. You're opening a lot of issues on here, which I appreciate, because it means Slack Machine is being used. But your issues are often hard to comprehend due to  b

[2020-04-21 16:50] #332 closed

[2020-04-22 06:13] dorel14 commented on #319
Not in Sm philosophy => closing

[2020-04-22 06:13] #319 closed

[2020-04-27 15:52] 1kko opened #335 "cascade listen_to, reply_to for contextual reply?"
I was trying to build daily standup meeting bot.
My daily standup bot have 4 questions:
1. How do you feel?
2. What did you do since yesterday?
3. What will you do today?
4. Anything blocking your progress?

I tried to use `emit` and `@on` events and found out it's not working, because I had to wait for user to reply.

[code]
is there any ways to do such thing? or is it even possible?
Then I was a

[2020-05-04 03:38] 1kko commented on #335
Actually I wrote a bot receiving `r'.*'` and re-route them using `self.emit()` according to user's status.
Seems working fine. Here's the code. It's ugly but works.

[code]

[2020-05-04 03:38] #335 closed

[2020-05-04 15:47] dorel14 opened #341 "Machine crash"
Hello
this afternoon my prod machine crashes with this message
[code]

[2020-05-14 08:49] enver commented on #157
I think this issue occurs when the connection to slack gets interrupted. It would be great that bot tries to reconnect and survives occasional network issues/service disruptions, rather than crashing.

[2020-05-18 12:49] dorel14 opened #347 "error message on scheduler task"
Hello
I have a plugin that look at gmail message and send a notification to slack
[code]
and i have regurlarly this message in logs
[code]
after some research with google , i found this
https://stackoverflow.com/questions/46827007/runtimeerror-this-event-loop-is-already-running-in-python
https://github.com/erdewit/nest_asyncio

[2020-05-25 16:10] DandyDev commented on #347
There was an error in `slackclient` that was resolved with a new version. I will update the dependency on `slackclient` and publish a new version of Slack Machine this week,

[2020-05-29 14:45] dorel14 commented on #347
ok thx
will this update also correct this problem
'''
127.0.0.1 - - [29/May/2020 10:06:02] "GET /DataTables-1.10.20/images/sort_asc.png HTTP/1.1" 304 0
[2020-05-29 11:18:08][ERROR] slack.rtm.client client.py:_dispatch_event:445 | When calling '#_on_user_change()' in the 'machine.clients.singletons.slack' module the following error was raised: missing value for field "deleted"
Traceback (most recen

[2020-05-29 15:13] dorel14 commented on #347
And this one
[code]

[2020-06-02 03:52] repudi8or commented on #347
any update on this one? its tripping up my plugins using schedule

[2020-06-04 08:43] zenithyr opened #360 "Cannot start after a clean install with a simple configuration file"
Hi there,

I ran into this issue today after ```pip install slack_machine``` and follow the tutorials.

My local_settings.py is
[code]

Then I ran ```slack-machine``` and saw the output below:

[code]

The server is an Amazon Cloud server, no proxy is set (```env | grep -i proxy``` is empty).

What's interesting is that, if I run this locally, and install a HTTP proxy server and set it in the conf

[2020-06-04 10:33] jiyuhuang-gdm commented on #360
Confirmed this is a package version error. Try ```pip install -r requirement.txt``` after a clear virtualenv setup fixed the issue.

[2020-06-04 10:33] zenithyr commented on #360
Confirmed this is a package version error. Try pip install -r requirement.txt after a clear virtualenv setup fixed the issue.

[2020-06-04 10:33] #360 closed

[2020-06-05 15:29] dorel14 commented on #347
HI , when do you think you can publish a new release ? i have some time to test next week

thx

[2020-06-07 07:00] unl1k3ly commented on #308
I'm getting the same error :/

[2020-06-07 07:03] unl1k3ly commented on #323
any update on this ?

[2020-06-19 09:40] dorel14 commented on #341
Hello again a crash this morning
[code]

[2020-06-26 09:15] dorel14 commented on #341
@DandyDev Again today

[2020-07-10 12:57] dorel14 commented on #347
any update on this one? its tripping up my plugins using schedule

[2020-07-15 21:52] repudi8or commented on #341
for these type of errors you can just make those fields in the user model optional.... ie in machine/models/user.py :-
`@dataclass(frozen=True)
class User:
    """
    User model that represents a user object from the Slack API
    """
    id: str
    team_id: Optional[str]
    name: str
    deleted: Optional[bool]`

[2020-07-15 23:49] repudi8or opened #383 "Failed to send a request to Slack API server: <urlopen error no host given>"
On merging master here into my fork i am now getting the following.....
i'm guessing its something in the handoff to the slack rtm client, currently looking at what may have changed there

Installing collected packages: slack-machine
Successfully installed slack-machine-0.19.2
(slack-machine) bash-3.2$ slack-machine
Initializing Slack Machine:
    Loading settings...
    Initializing storage using

[2020-07-19 22:52] repudi8or commented on #383
Just a note here, this is related to http_proxy being set to '' rather than None on the call to rtm_client.... Im trying to work out why this is now happening, but a workaround is to add to local_settings.py :-
`HTTP_PROXY = None`

[2020-07-20 23:27] repudi8or commented on #347
this now seems fixed on latest master

[2020-07-21 17:33] DandyDev commented on #383
Thanks for the report and apologies with the late response. I will fix this tomorrow.

[2020-07-21 17:34] DandyDev commented on #347
Hey @dorel14 and @repudi8or this is indeed fixed on master, but I forgot to cut a release. I was very busy with work but I'm now on holiday, so I will cut a release tomorrow.

[2020-07-21 17:35] DandyDev commented on #341
When generating the models, I also had a look at the API docs, which seemed to suggest that `deleted` was always present. Apparently not though, so I'll fix that.

[2020-07-22 14:26] DandyDev commented on #383
This is fixed in 07f2f60d4ff60a64ecc1c06c0443a8c8095b173a

[2020-07-22 14:30] #341 closed

[2020-07-22 16:00] #323 closed

[2020-07-22 16:01] DandyDev commented on #308
This is fixed in 1db9ec84f14830bfbe226294b75abff1bf7bb018

[2020-07-22 16:07] DandyDev commented on #323
You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get the fixes

[2020-07-22 16:07] DandyDev commented on #308
You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get the fixes

[2020-07-22 16:07] DandyDev commented on #383
You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get the fixes

[2020-07-22 16:07] DandyDev commented on #347
You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get the fixes

[2020-07-22 16:07] DandyDev commented on #341
You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get the fixes

[2020-07-22 16:08] #383 closed

[2020-07-22 16:08] #347 closed

[2020-07-22 16:08] DandyDev commented on #290
Hi @smoothimpact, this was fixed in the latest version. You can upgrade to [v0.20](https://pypi.org/project/slack-machine/0.20.0/) to get this fix.

[2020-07-22 16:08] #290 closed

[2020-07-22 16:09] #316 closed

[2020-07-22 16:09] #308 closed

[2020-07-23 11:44] DandyDev opened #389 "Move to Poetry for package management and publishing"

[2020-07-23 23:25] hhollenstain opened #390 "Dictionary passed into machine class is not used on slack client"
# Issue
Passing settings into the Machine class is ignored when generating the SlackClient. The Slack client class just runs a local_settings import via import_settings() when this seems to be unnecessary.

[code]
output:

[code]

Placing a local_settings.py file with a token works.
[code]

[code]

It seems when generating the slack client https://github.com/DandyDev/slack-machine/blob/master/mach

[2020-07-24 09:46] DandyDev commented on #390
@hhollenstain that is true and earlier this week when I was fixing tests, I discovered this problem as well. Currently, the settings passed into the `Machine` class are only used to determine which plugins to load. Ideally, we would use those settings for instantiating the underlying Slack client and storage adapter as well, but that is not possible: both Slack client and storage adapter are singl

[2020-07-24 14:45] hhollenstain commented on #390
@DandyDev Thanks for the quick reply and insight. After your explanation I don't have any suggestions at this time. If I get any inspiration as I work around using slack-machine more than I did yesterday I will be circling back here. Again thanks!

[2020-07-24 16:08] DandyDev commented on #390
Only after I wrote my reply, I actually saw your PR. With some adjustments it actually might work. I will have a look at your PR in the coming days, so don't close it yet.

[2020-07-24 16:32] DandyDev commented on #390
I do have a question though: is there a reason you want to provide the settings to `Machine` directly instead of using a `local_settings.py`?

[2020-07-24 17:08] hhollenstain commented on #390
The reason I was looking at populating the settings dictionary prior to starting the machine in code is due to our access pattern of secrets. We utilize vault client to pull and populate things such as tokens from a client. Idea is to seed this data and provide to the Machine class with this seeded data. Again we have options around this such as generating the file prior to starting the Machine, b

[2020-07-24 18:24] DandyDev commented on #390
Can't you expose secrets as environment variables? Slack Machine accepts those as well. You can supply any setting through environment variables by prefixing them with `SM_`. So `SLACK_TOKEN` becomes `SM_SLACK_TOKEN` for example.

[2020-07-24 19:29] hhollenstain commented on #390
@DandyDev  That  is a great idea. I forgot you are checking for SM_. Able to patch the os.environ dict with SM_SLACK_API and worked perfectly.

[2020-08-05 22:44] michaelbutler opened #396 "[Docs] EventLoggerPlugin no longer exists"
Hi there! I was going through to get a basic hello world running with this bot and got an error:

[code]

The most relevant line of the above is

**ModuleNotFoundError: No module named 'machine.plugins.builtin.debug.EventLoggerPlugin';**

I had my plugins list set to
[code]

Likely the docs simply need to be updated where this is referenced as a possible Plugin. It looks like this was removed in a

[2020-08-05 22:49] michaelbutler commented on #396
Here is the reference to the doc where EventLoggerPlugin is referenced: https://github.com/DandyDev/slack-machine/blob/c5255f46367cd4a5f720e351a0a983dcee2844e3/docs/user/usage.rst#L85

[2020-08-05 23:15] michaelbutler opened #397 "slack-machine crashes with error wrong value type for field "topic.creator" - should be "str" instead of value "None""
Hi, I'm trying to test out slack-machine. I'm on Python 3.7 with latest version installed: `Version: 0.20.1`.

I only have the HelloPlugin enabled, when I run slack-machine in DEBUG mode I see a lot of API requests going through successfully, it appears to be paginating through channels and users and conversations, however it always gets to this point and crashes with error:

[code]

I'm guessing

[2020-08-05 23:19] michaelbutler commented on #397
When looking through [slack API docs](https://api.slack.com/methods/conversations.list), I'm wondering if this could happen when the user who initially setTopic
 on the conversation or channel is a deleted user. I mean it probably still should be empty string `""` but for whatever reason maybe they returned `null` or not anything at all.

[2020-08-07 15:38] DandyDev commented on #396
Thanks for noticing! I will fix that asap.

[2020-08-07 15:38] DandyDev commented on #397
Yep, that could be it. In any case, the fix it easy. I'll make the creator optional.

[2020-11-06 15:46] enver opened #414 "Responses to messages are sequential since 0.19"
With recent changes slack-machine responses became sequential. Back in version 0.18.2 responses were processed in parallel and did not block each other. Currently, in case response method takes a significant amount of time to complete all other requests are queued and executed after a long-running response has completed.

Reproduction steps:
Define a simple sleep method:
[code]

And invoke it twic

[2020-11-06 15:54] DandyDev commented on #414
This is because of fundamental changes in the underlying slacklclient library v2, especially in the RTM part. The slackclient library is now taking care of dispatching functions based on incoming RTM events, so there is no easy way to parallelize is like I did before.
The slackclient library _does_ support asyncio, and I want to support that as well, but it would require significant rewrites of sl

[2020-11-06 16:07] DandyDev commented on #414
Update: this is apparently an issue, even in the newer python-slack-sdk: https://github.com/slackapi/python-slack-sdk/issues/558

[2020-11-12 17:14] drdarina opened #415 "Running the default from the tutorial doesn't work"
Hi, I'm completely new to this and probably making some silly mistake. I've followed your tutorial so far but it's silently failing. My `local_settings.py` looks like this:

[code]

The slack bot token is correct, the bot exists and I can make it say things directly using the `slack_sdk` `WebClient`. When I run `slack-machine` I don't see any errors, but the bot is doing nothing. It just sits ther

[2020-11-17 10:31] drdarina commented on #397
Has this been fixed? I'm also getting the same error

[2020-11-17 10:31] drdarina commented on #415
This was completely my bad, I had created a slack app instead of a slack bot, despite what the tutorial says.

[2020-11-17 10:31] #415 closed

[2020-12-23 14:03] #281 closed

[2020-12-23 14:04] #273 closed

[2021-01-12 07:32] stvnksslr opened #434 "Issue with slackclient 2.7.3"
Still sorting out exactly what the heck is going on here and will submit a PR when I do if needed but it appears slack has done something to deprecate aiohttp < 3.6 connections

https://github.com/slackapi/python-slack-sdk/issues/912

popped up a few hours ago but wanted to throw this here to save anyone else time trying to debug.

EDIT: appears you can fix it by upgrading `aiohttp = "3.7.3"`

*no

[2021-01-12 17:05] cchadowitz-pf commented on #434
I'm using slack-machine in docker, based on the docker image `python:3-slim`. Once I pulled the latest of that docker image and updated my local slack-machine build to the latest (which includes `slackclient==2.9.3` from the `requirements.txt`), it pulled in `aiohttp` 3.7.3.

With all of that, it's back up and running for me. Thanks for opening this - helped me track it down!

[2021-01-12 17:24] dorel14 commented on #434
Hi
Same for me but running aiohttp - pip install -U aiohttp makes the job and it's now running

[2021-01-15 23:17] eddyg opened #435 "Easy way to process "listen_to" and "respond_to" without duplicating the regex?"
I was just looking at the [dispatch code here](https://github.com/DandyDev/slack-machine/blob/master/machine/dispatch.py#L39-L49) where `listen_to` and `respond_to` are handled.

I'd like to have a bot be able to respond to a regex "trigger" _without_ being addressed in a public channel (`listen_to`), _and_ allow the same trigger in a private message to the bot to return the same info via a privat

[2021-01-17 20:55] stvnksslr commented on #434
This seems to be fixed upstream now, going to close.

[2021-01-17 20:55] #434 closed

[2021-01-18 09:04] DandyDev commented on #435
Hey @eddyg, I'm only seeing this issue and your PR now. Your contribution is much appreciated. I do wonder however, if what you're describing (bot responding to "naked" messages without mention and _also_ responding to the same regex in a DM convo) shouldn't be the default behaviour of `listen_to`. Then we wouldn't need an extra decorator. Then the only difference between `listen_to` and `respond_

[2021-01-18 17:15] eddyg commented on #435
That sounds good to me (and how I expected plugins to work during my testing). I didn't know if a substantial change in behavior like that would be acceptable or not, so I went the "safe" route with my PR. 😉

[2021-02-02 17:42] #63 closed

[2021-02-04 22:33] eguven commented on #397
@michaelbutler I checked. It was happening on a shared channel where the user who most recently set the topic was still active member of our workspace (so no reason for the value to be `None`).

I think in our case, the person who setTopic before did so prior to sharing the channel and this causes the `None`. 🤷‍♂️

[2021-02-05 20:04] #397 closed

[2021-02-25 12:10] enver opened #440 "Slack api im.open method has been removed"
Currently, `reply_dm` method does not work.
https://api.slack.com/changelog/2020-01-deprecating-antecedents-to-the-conversations-api.

@DandyDev Could you please create a hotfix branch for 0.18.2 version, I'd like to submit PR against this version and master.

[2021-02-25 15:59] cchadowitz-pf commented on #440
I've had a fix for that outstanding for a little while in PR #401 FYI (as well as a minor bugfix for something else). Not sure if there's something holding it up from being merged but either way :)

[2021-02-26 08:01] enver commented on #440
@cchadowitz-pf I totally missed that one, tnx.
@DandyDev I'd still like to submit patch against 0.18.2 and we can continue with #401 for main branch.

[2021-03-12 17:29] dorel14 commented on #440
hello can you publish a version with the hotfix some of my plugins are down

thx

[2021-03-26 09:00] DandyDev commented on #440
I will have a look this weekend. Sorry for the delays. Just got a new job and a new puppy that needs care :)

[2021-03-26 09:02] #435 closed

[2021-03-26 09:10] DandyDev opened #443 "Move to python-slack-sdk"
Currently, slack-machine still uses the old `slackclient` library. That has been superseded by [python-slack-sdk](https://github.com/slackapi/python-slack-sdk). We should move to using that library.

[2021-03-28 11:27] davidolrik commented on #320
In the mean time I have fallen completely in love with [pydantic](https://github.com/samuelcolvin/pydantic/) which solves more than than just the config loading - It could also replace [dacite](https://github.com/konradhalas/dacite) and add more strict type checking where ever it is needed.

On the config side [pydantic](https://github.com/samuelcolvin/pydantic/) also has support for [secrets](htt

[2021-03-28 11:47] DandyDev commented on #320
Might indeed be useful. I dropped you an email to discuss Slack Machine in a more general sense.

[2021-04-04 16:25] Berjiz commented on #443
I read through the migration [page](https://slack.dev/python-slack-sdk/v3-migration/)

Regarding the last two points in their guide about run_async and aiohttp. Slack machine doesn't use these parts so is unaffected, correct?

[2021-04-04 16:27] DandyDev commented on #443
Correct. Although I want to look into using the async version at some point, for now it's a matter of changing the dependency and the import paths.

[2021-04-04 18:32] DandyDev opened #458 "Replace Travis CI with Github Actions"
Given [the announcement](https://blog.travis-ci.com/oss-announcement) by Travis CI that they're asking all users to move from travis-ci.org to travis-ci.com and limit the amount of credits for OSS projects in the process and also given the mixed experience I've had so far, it seems a good idea to move to Github Actions for CI/CD.

[2021-04-25 19:29] #390 closed

[2021-04-26 19:00] cchadowitz-pf commented on #440
FYI #401 has been merged and I believe a new release cut (v0.21.0).

[2021-04-27 20:00] #440 closed

[2021-05-09 16:05] DonDebonair opened #469 "Move to Events API instead of RTM API"
The main reason for using the [RTM API](https://api.slack.com/rtm) for reacting to events instead of the [Events API](https://api.slack.com/apis/connections/events-api) was that the Events API required the application/bot to expose HTTP endpoints to the public internet. With the advent of [Socket mode](https://api.slack.com/apis/connections/socket) this is not the case anymore.

I'd like Slack Mac

[2021-05-09 16:18] DonDebonair opened #470 "Replace implementations of `*_scheduled` methods with calls to `chat.scheduleMessage`"
If we use [chat.scheduleMessage](https://api.slack.com/methods/chat.scheduleMessage) we are much closer to removing the dependency on APScheduler. This opens up opportunities for greatly simplifying the code architecture. The reason there are ugly singletons in the Slack Machine codebase, is so we don't end up serialising sockets which APScheduler doesn't like.

[2021-05-10 06:33] AsheKR commented on #415
I was making the same mistake....

[2021-09-12 21:43] DandyDev commented on #458
Fixed!

[2021-09-12 21:43] #458 closed

[2021-09-15 19:39] Faqa opened #493 "More flexible python requirements?"
Hi,

Is there any chance a future version of this package could get a less constrained set of requirements? I'm trying to fit it into a larger context with a lot of different requirements. Even just pinning to a specific minor would help.

[2021-09-28 12:29] DonDebonair opened #499 "Allow user to provide their own logging configuration"

[2021-10-16 15:48] DandyDev opened #506 "Remove HBase storage plugin"
I created it only for my own needs, but probably nobody uses it and I don't either

[2021-10-16 16:05] DandyDev commented on #389
Fixed by #505

[2021-10-16 16:05] #389 closed

[2021-11-23 22:46] DandyDev commented on #493
Hey @Faqa I've been a bit inactive of late and saw your message only now. Could you tell me in what ways you want the requirements to be less constrained, and what requirements you're referring to?

[2021-11-23 22:48] DandyDev commented on #506
Fixed in https://github.com/DandyDev/slack-machine/commit/a050cb120f0e51a6a613beb0acbbc1a6bd704fe8

[2021-11-23 22:48] #506 closed

[2021-12-01 21:59] #443 closed

[2021-12-17 12:43] dorel14 opened #526 "Error messages around user[data] and around ['data']['channel']"
Hello
i migrate to lastest slack-machine and have a lot fo messages like these in my log file
[code]
Is this coming from one of my plugins ?

[2022-02-10 07:26] repudi8or commented on #526
in machine/clients/singletons/slack.py, the payload data structure seems to have changed... what was (payload['data']['user']) is now (payload['user']) .... at least for _on_user_change

[2022-02-12 13:09] DandyDev commented on #526
I will have a look at it. Is there any action in Slack that guarantees triggering this error, so I can reproduce?

[2022-02-12 13:10] DandyDev commented on #526
Also @dorel14 please use triple back-ticks next time so your stack trace is readable :)

[code]

[2022-02-12 13:10] #493 closed

[2022-02-12 17:15] dorel14 commented on #526
Here it is :)

I think it is each time slack machine reconnect to slack

[2022-02-15 08:26] dorel14 commented on #526
Hi also have this kind of message when creating a new channel

[code]

[2022-03-27 20:48] #526 closed

[2022-03-27 20:51] DandyDev commented on #157
@dorel14 @preludedrew @yaelbikel @enver are you still experiencing this issue? I've pushed some updates that should generally make slack-machine more reliable. Among other things, it uses the newest Slack SDK for Python

[2022-03-27 20:52] DandyDev commented on #526
I fixed this in [v0.25.0](https://pypi.org/project/slack-machine/0.25.0/). Please upgrade

[2022-03-27 20:53] DandyDev commented on #414
This should not be the case anymore since Slack Machine v0.24, in which I upgraded to the newer Slack SDK for Python

[2022-03-27 20:53] #414 closed

[2022-07-20 09:26] ramnes opened #591 "Async support"
Hey there!

Do you have any plan for supporting async code?

I've seen that you want to use the Events API (#469), so maybe [bolt-python](https://github.com/slackapi/bolt-python) and its async backend could be used as a base?

[2022-07-21 13:49] DonDebonair commented on #591
Hey there! How serendipitous that you ask about this! I just got back to Slack Machine yesterday after a hiatus of a couple of months. I started experimenting with async yesterday. My plan is not only to support async, but to make Slack Machine async-only.

My initial idea was to use Bolt, but I think it's overkill for the low-level access I need. Slack SDK for Python actually also supports Socket

[2022-07-22 10:10] DonDebonair commented on #591
Thanks for your elaborate answer! Very insightful!

With regards to the underlying base of Slack Machine, there are basically 2 options:

- [Bolt for Python](https://github.com/slackapi/bolt-python)
- [Python Slack SDK](https://github.com/slackapi/python-slack-sdk)

I don't think the latter will receive less engineering effort from the Slack team than the former, because Bolt is actually built on

[2022-07-22 10:11] DonDebonair commented on #591
Btw, I have a Gitter room setup (see README) to discuss things in chat, but it's not really used right now. We could use it to have more real-time in-depth discussions at some point. I also contemplated moving to Slack for the community.

[2022-07-22 13:14] ramnes commented on #591
You're completely right. I was under the impression than Bolt was implementing most things async and events-related, but digging a bit more I'm discovering now that I completely overlooked the SDK, and that it's far more complete than I thought it was. Sorry for the noise!

I was referring to the [path parameters](https://fastapi.tiangolo.com/tutorial/path-params/). :)

An alternative is Flask / S

[2022-07-29 17:23] #157 closed

[2022-08-01 21:53] DonDebonair commented on #591
So, I made quite some progress on the async story! You can find my work [in this draft PR](https://github.com/DonDebonair/slack-machine/pull/592). It's still WIP, but the basics work now:

- The core is completely async, based on SocketMode + events
- The plugin system is now async, so all plugin methods should be async as well
- The built-in plugins have been converted to async as well
- I've ref

[2022-08-01 22:09] DonDebonair commented on #320
Hey @davidolrik, I don't know if you're still using Slack Machine, but I'm working on it again. My first order of business is [making it use asyncio](https://github.com/DonDebonair/slack-machine/pull/592) (and in the process, generally refactoring it).

Configuration is another important topic I'd like to tackle soon. I've been reading over this issue again, and I wonder what the best approach is.

[2022-08-01 22:12] #214 closed

[2022-08-01 22:12] #40 closed

[2022-08-01 22:14] #254 closed

[2022-08-01 22:15] #145 closed

[2022-08-02 20:46] DonDebonair commented on #591
Update `@process` now works as well!

Async code has been moved to the `machine.asyncio` package

[2022-08-12 20:10] DonDebonair commented on #591
Update: RBAC now works! And all of the async code is type checked with MyPy

[2022-08-13 11:39] DonDebonair commented on #591
This has been fixed now that #592 has been merged. Published as [v0.26.0](https://pypi.org/project/slack-machine/0.26.0/)

[2022-08-13 14:11] DonDebonair commented on #469
Fixed by #592

[2022-08-13 14:11] #469 closed

[2022-08-13 14:25] DonDebonair opened #599 "Introduce structured logging"
Use [StructLog](https://www.structlog.org/en/stable/)

In the end, having fancy terminal output is not that useful for a permanently running service

[2022-08-13 14:28] #396 closed

[2022-08-13 14:28] #591 closed

[2022-09-11 16:09] DonDebonair commented on #470
Fixed in async version

[2022-09-11 16:09] #470 closed

[2022-09-16 18:31] DonDebonair opened #627 "Add documentation on how to deploy slack-machine"

[2022-09-16 18:31] DonDebonair opened #628 "Add webhook functionality"

[2022-09-30 17:11] MattF-NSIDC opened #643 "How do I set my bot user's icon?"
I thought this was something I could set in the slack App's configuration, but I was only able to find a setting for display name, and my app is showing up with the default silhouette icon. Is there a way to configure this that I'm missing?

Thank you!

[2022-09-30 19:53] DonDebonair commented on #643
Hey @MattF-NSIDC ! You _can_ actually set the app icon (which will also serve as bot icon) in the app configuration:

1. Go to the [list of apps](https://api.slack.com/apps) for your workspace
2. Click on the app you want to change the icon for
3. Go to _Display Information_. Here you can upload an app icon
![image](https://user-images.githubusercontent.com/854991/193346399-0c8aed24-c9c3-4847-b023

[2022-09-30 21:32] MattF-NSIDC commented on #643
Wonderful, thank you :bow:  I was confused by the separate section for editing the bot's display name.

[2022-09-30 21:33] #643 closed

[2022-10-17 21:16] DonDebonair opened #661 "Automatic releases"
Possible pieces of the puzzle:

- Github Action that runs when tags are pushed
	- Check if version in `pyproject.toml` conforms to tag that was pushed, or else **ABORT**
- Github Action that runs when code is merged and checks if the version in `pyproject.toml` has changed
	- Create git tag for new version
- Update `CHANGELOG.md` -> look at _Unreleased_ section and make new section for new version

[2022-10-17 21:18] DonDebonair commented on #599
Can we provide logger instances to plugin functions that automatically include the user as contextual information when the plugin function is triggered by a message?

[2022-10-21 14:59] #499 closed

[2022-10-31 22:58] browniebroke commented on #661
I noticed that you're using conventional commis, so you might be interested in https://python-semantic-release.readthedocs.io/en/latest/ which I'm using on a few projects.

[2022-11-27 13:08] #310 closed

[2022-11-27 13:10] DonDebonair commented on #35
Update on this: since Slack Machine now fully supports being used as a Slack App (in fact, it's now the _only_ way to use Slack Machine), I'm going to revisit this soon